application/__pycache__/application.cpython-37.pyc
application/__pycache__/board_frame.cpython-37.pyc
application/__pycache__/casos_especiais.cpython-37.pyc
application/__pycache__/welcome_frame.cpython-37.pyc
codigos/__pycache__/Board.cpython-37.pyc
codigos/__pycache__/Cards.cpython-37.pyc
codigos/__pycache__/Dealer.cpython-37.pyc
codigos/__pycache__/Perfil.cpython-37.pyc
codigos/__pycache__/Players.cpython-37.pyc
codigos/__pycache__/Rodada.cpython-37.pyc
